<a href="https://colab.research.google.com/github/Pavitr-Swain/Employee-Database-Using-Microsoft-SQL/blob/main/Employee_Dataset_%7C_Data_Cleaning_for_SQL_Import.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing libraries and dataset**

In [27]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [28]:


employees = pd.read_csv("/content/employee_data.csv")
engagement = pd.read_csv("/content/employee_engagement_survey_data.csv")
recruitment = pd.read_csv("/content/recruitment_data.csv")
tnd = pd.read_csv("/content/training_and_development_data.csv")

# **Quick Overview of the Data**

In [29]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [30]:
engagement.head()

,Employee ID,Survey Date,Engagement Score,Satisfaction Score,Work-Life Balance Score
0,1001,10-10-2022,2,5,5
1,1002,03-08-2023,4,5,3
2,1003,03-01-2023,2,5,2
3,1004,30-07-2023,3,5,3
4,1005,19-06-2023,2,4,5

In [31]:
recruitment.head()

,Applicant ID,Application Date,First Name,Last Name,Gender,Date of Birth,Phone Number,Email,Address,City,State,Zip Code,Country,Education Level,Years of Experience,Desired Salary,Job Title,Status
0,1001,03-Jun-23,Scott,Sheppard,Male,31-08-1992,421-429-7655x39421,perezjanet@example.org,597 Smith Point,Hollandfort,NV,57588,Micronesia,High School,8,60103.21,Chief Technology Officer,Interviewing
1,1002,15-May-23,Stanley,Lewis,Male,29-04-1965,+1-451-574-5308x1681,grossmark@example.com,8116 Stuart Loop,Port Margaretfurt,TN,14726,Greenland,Bachelor's Degree,17,64575.84,"Designer, furniture",Rejected
2,1003,04-Aug-23,Javier,Li,Female,10-03-1973,(858)901-5499,katiemaldonado@example.com,5940 Barr Villages Suite 075,Dianaland,TX,4699,China,PhD,20,39422.71,"Sound technician, broadcasting/film/video",Rejected
3,1004,28-Jul-23,Christopher,Johnston,Other,04-04-2001,(853)681-1839x2010,sheila73@example.com,442 Lewis Mount,Youngfurt,GA,34455,Ghana,High School,8,51045.11,Air cabin crew,Rejected
4,1005,05-Jun-23,Melissa,Hicks,Other,17-06-1978,364-575-8478x67812,emilypatterson@example.org,95961 Taylor Circles Apt. 169,East Ashleyborough,IN,21014,Solomon Islands,Master's Degree,0,52792.86,Art therapist,Interviewing

In [32]:
tnd.head()

,Employee ID,Training Date,Training Program Name,Training Type,Training Outcome,Location,Trainer,Training Duration(Days),Training Cost
0,1001,21-Sep-22,Customer Service,Internal,Failed,Port Greg,Amanda Daniels,4,510.83
1,1002,19-Jul-23,Leadership Development,Internal,Failed,Brandonview,Brittany Chambers,2,582.37
2,1003,24-Feb-23,Technical Skills,Internal,Incomplete,Port Briannahaven,Mark Roberson,4,777.06
3,1004,12-Jan-23,Customer Service,Internal,Completed,Knightborough,Richard Fisher,2,824.30
4,1005,12-May-23,Communication Skills,External,Passed,Bruceshire,Heather Shaffer,4,145.99

# **Checking for Null Values**

In [33]:
employees.isnull().sum()

EmpID                            0
FirstName                        0
LastName                         0
StartDate                        0
ExitDate                      1467
Title                            0
Supervisor                       0
ADEmail                          0
BusinessUnit                     0
EmployeeStatus                   0
EmployeeType                     0
PayZone                          0
EmployeeClassificationType       0
TerminationType                  0
TerminationDescription        1467
DepartmentType                   0
Division                         0
DOB                              0
State                            0
JobFunctionDescription           0
GenderCode                       0
LocationCode                     0
RaceDesc                         0
MaritalDesc                      0
Performance Score                0
Current Employee Rating          0
dtype: int64

It can be noted that only exit date and termination date has null values. This is reasonable since the dataset is comprised of both inactive and active employees - active employees will have no termination date yet.

In [34]:
engagement.isnull().sum()

Employee ID                0
Survey Date                0
Engagement Score           0
Satisfaction Score         0
Work-Life Balance Score    0
dtype: int64

No null values for the engagement dataset.

In [35]:
recruitment.isnull().sum()

Applicant ID           0
Application Date       0
First Name             0
Last Name              0
Gender                 0
Date of Birth          0
Phone Number           0
Email                  0
Address                0
City                   0
State                  0
Zip Code               0
Country                0
Education Level        0
Years of Experience    0
Desired Salary         0
Job Title              0
Status                 0
dtype: int64

No null values for the recruitment dataset.

In [36]:
tnd.isnull().sum()

Employee ID                0
Training Date              0
Training Program Name      0
Training Type              0
Training Outcome           0
Location                   0
Trainer                    0
Training Duration(Days)    0
Training Cost              0
dtype: int64

No null values for the training and development dataset.

# Checking for Duplicates
add Codeadd Markdown
Checking for Duplicates: Employees Dataset
add Codeadd Markdown

In [37]:
employees.duplicated().sum()

np.int64(0)

From the columns above, I want to check EmpID and ADEmail in particular since these values should be unique.**bold text**

employees['EmpID'].duplicated().sum()

**There are no duplicates for the employee id.**

In [38]:
employees['ADEmail'].duplicated().sum()

np.int64(2)

**There are two duplicates in the email address**.

In [39]:
email_duplicate = employees[employees['ADEmail'].duplicated(keep=False)]
print(email_duplicate)

      EmpID FirstName LastName  StartDate   ExitDate  \
865    1292   Larissa   Warner  27-Oct-18        NaN
1742   2169   Larissa   Warner  04-Jul-20  11-May-22
1974   2401    Darien    Young  09-Nov-22  10-Jan-23
2204   2631    Darien    Young  03-Mar-21        NaN

                         Title        Supervisor  \
865    Production Technician I          Amy Hess
1742  Production Technician II    Sarah Harrison
1974        Production Manager  Christopher Reid
2204        Area Sales Manager        Maria Hale

                           ADEmail BusinessUnit        EmployeeStatus  \
865   larissa.warner@bilearner.com          BPC                Active
1742  larissa.warner@bilearner.com          MSC                Active
1974    darien.young@bilearner.com          NEL  Terminated for Cause
2204    darien.young@bilearner.com          MSC                Active

     EmployeeType PayZone EmployeeClassificationType TerminationType  \
865     Full-Time  Zone A                  Part-Time             Unk
1742    Full-Time  Zone A                  Full-Time      Retirement
1974    Full-Time  Zone C                  Part-Time     Resignation
2204    Full-Time  Zone C                  Full-Time             Unk

                             TerminationDescription     DepartmentType  \
865                                             NaN  Production
1742  Method suggest leave process deep tough seek.  Production
1974            Sit energy consider voice director.  Production
2204                                            NaN              Sales

              Division         DOB State JobFunctionDescription GenderCode  \
865          Engineers  27-06-1943    MA               Engineer     Female
1742     General - Con  26-12-1995    MA                Flagger     Female
1974  Field Operations  23-09-1945    MA             Technician     Female
2204              Catv  09-04-1998    ID                Foreman     Female

      LocationCode RaceDesc MaritalDesc Performance Score  \
865          28931    White    Divorced       Fully Meets
1742         81396    Black     Widowed           Exceeds
1974         96954    Asian    Divorced       Fully Meets
2204         50389    Black     Widowed       Fully Meets

      Current Employee Rating
865                         3
1742                        3
1974                        5
2204                        2

**Upon checking, the duplicates are possibly because old employee's emails are being reused by new hires. I will be adding a "ReusedEmail" column to distinguish these rows. The IT or onboarding team may be advised for such occurences.**

In [40]:
employees["ReusedEmail"] = employees['ADEmail'].duplicated(keep=False).map({True:True, False:False})

In [41]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,ReusedEmail
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4,False
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3,False
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4,False
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2,False
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3,False

**Checking for Duplicates: Employee Engagement Survey**

In [42]:
engagement.duplicated().sum()

np.int64(0)

In [43]:
engagement.columns

Index(['Employee ID', 'Survey Date', 'Engagement Score', 'Satisfaction Score',
       'Work-Life Balance Score'],
      dtype='object')

In [44]:
engagement['Employee ID'].duplicated().sum()

np.int64(0)

**There are no duplicates in the employee engagement survey.**

# Checking for Duplicates: Recruitment Data

In [45]:
recruitment.duplicated().sum()

np.int64(0)

# Checking for Duplicates: Training & Development Data

In [46]:
tnd.duplicated().sum()

np.int64(0)

In [47]:
tnd.columns

Index(['Employee ID', 'Training Date', 'Training Program Name',
       'Training Type', 'Training Outcome', 'Location', 'Trainer',
       'Training Duration(Days)', 'Training Cost'],
      dtype='object')

There are no duplicates in the training & development (TND) dataset. I will not be checking the duplicates for each of TND's columns since it's possible for an employee to have multiple trainings, and the other columns are not required to have unique values either.

# Checking for Data Type

Checking for Data Type: Employees

In [48]:
print(employees.dtypes)

EmpID                          int64
FirstName                     object
LastName                      object
StartDate                     object
ExitDate                      object
Title                         object
Supervisor                    object
ADEmail                       object
BusinessUnit                  object
EmployeeStatus                object
EmployeeType                  object
PayZone                       object
EmployeeClassificationType    object
TerminationType               object
TerminationDescription        object
DepartmentType                object
Division                      object
DOB                           object
State                         object
JobFunctionDescription        object
GenderCode                    object
LocationCode                   int64
RaceDesc                      object
MaritalDesc                   object
Performance Score             object
Current Employee Rating        int64
ReusedEmail                     bool
dtype: object

I can see that the StartDate, ExitDate, and DOB are not set as DATE data type. I will be converting these columns accordingly.

In [49]:
##checking for date format
print("Start Date")
print(employees['StartDate'])
print("End Date")
print(employees['ExitDate'])
print("DOB")
print(employees['DOB'])

Start Date
0       20-Sep-19
1       11-Feb-23
2       10-Dec-18
3       21-Jun-21
4       29-Jun-19
          ...
2995    22-Jun-22
2996    28-Dec-20
2997    09-Dec-20
2998    28-May-19
2999    27-Apr-22
Name: StartDate, Length: 3000, dtype: object
End Date
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
2995    07-Aug-22
2996          NaN
2997    04-Aug-22
2998    23-Oct-21
2999          NaN
Name: ExitDate, Length: 3000, dtype: object
DOB
0       07-10-1969
1       30-08-1965
2       06-10-1991
3       04-04-1998
4       29-08-1969
           ...
2995    23-06-1998
2996    10-06-2001
2997    27-01-1997
2998    28-05-1954
2999    11-09-1990
Name: DOB, Length: 3000, dtype: object

In [50]:
## converting start date to date type
employees['StartDate'] = pd.to_datetime(employees['StartDate'], format = '%d-%b-%y')
print(employees['StartDate'])

0      2019-09-20
1      2023-02-11
2      2018-12-10
3      2021-06-21
4      2019-06-29
          ...
2995   2022-06-22
2996   2020-12-28
2997   2020-12-09
2998   2019-05-28
2999   2022-04-27
Name: StartDate, Length: 3000, dtype: datetime64[ns]

In [51]:
## converting exit date to date type
employees['ExitDate'] = pd.to_datetime(employees['ExitDate'], format = '%d-%b-%y')
print(employees['ExitDate'])

0             NaT
1             NaT
2             NaT
3             NaT
4             NaT
          ...
2995   2022-08-07
2996          NaT
2997   2022-08-04
2998   2021-10-23
2999          NaT
Name: ExitDate, Length: 3000, dtype: datetime64[ns]

In [52]:
## converting DOB to date type
employees['DOB'] = pd.to_datetime(employees['DOB'], format = '%d-%m-%Y')
print(employees['DOB'])

0      1969-10-07
1      1965-08-30
2      1991-10-06
3      1998-04-04
4      1969-08-29
          ...
2995   1998-06-23
2996   2001-06-10
2997   1997-01-27
2998   1954-05-28
2999   1990-09-11
Name: DOB, Length: 3000, dtype: datetime64[ns]

In [53]:
print(employees.dtypes)

EmpID                                  int64
FirstName                             object
LastName                              object
StartDate                     datetime64[ns]
ExitDate                      datetime64[ns]
Title                                 object
Supervisor                            object
ADEmail                               object
BusinessUnit                          object
EmployeeStatus                        object
EmployeeType                          object
PayZone                               object
EmployeeClassificationType            object
TerminationType                       object
TerminationDescription                object
DepartmentType                        object
Division                              object
DOB                           datetime64[ns]
State                                 object
JobFunctionDescription                object
GenderCode                            object
LocationCode                           int64
RaceDesc                              object
MaritalDesc                           object
Performance Score                     object
Current Employee Rating                int64
ReusedEmail                             bool
dtype: object

**Checking for Data Type: Recruitment**

In [54]:
print(recruitment.dtypes)

Applicant ID             int64
Application Date        object
First Name              object
Last Name               object
Gender                  object
Date of Birth           object
Phone Number            object
Email                   object
Address                 object
City                    object
State                   object
Zip Code                 int64
Country                 object
Education Level         object
Years of Experience      int64
Desired Salary         float64
Job Title               object
Status                  object
dtype: object

In [55]:
print("Application Date:")
print(recruitment['Application Date'])
print("DOB:")
print(recruitment['Date of Birth'])

Application Date:
0       03-Jun-23
1       15-May-23
2       04-Aug-23
3       28-Jul-23
4       05-Jun-23
          ...
2995    18-May-23
2996    12-Jul-23
2997    19-Jun-23
2998    16-May-23
2999    07-Jul-23
Name: Application Date, Length: 3000, dtype: object
DOB:
0       31-08-1992
1       29-04-1965
2       10-03-1973
3       04-04-2001
4       17-06-1978
           ...
2995    25-11-1993
2996    29-01-1978
2997    08-02-2000
2998    08-08-1994
2999    01-06-1980
Name: Date of Birth, Length: 3000, dtype: object

In [56]:
recruitment['Application Date']=pd.to_datetime(recruitment['Application Date'], format = '%d-%b-%y')
print(recruitment['Application Date'])

0      2023-06-03
1      2023-05-15
2      2023-08-04
3      2023-07-28
4      2023-06-05
          ...
2995   2023-05-18
2996   2023-07-12
2997   2023-06-19
2998   2023-05-16
2999   2023-07-07
Name: Application Date, Length: 3000, dtype: datetime64[ns]

In [57]:
recruitment['Date of Birth'] = pd.to_datetime(recruitment['Date of Birth'], format = '%d-%m-%Y')
print(recruitment['Date of Birth'])

0      1992-08-31
1      1965-04-29
2      1973-03-10
3      2001-04-04
4      1978-06-17
          ...
2995   1993-11-25
2996   1978-01-29
2997   2000-02-08
2998   1994-08-08
2999   1980-06-01
Name: Date of Birth, Length: 3000, dtype: datetime64[ns]

In [58]:
print(recruitment['Phone Number'])

0          421-429-7655x39421
1        +1-451-574-5308x1681
2               (858)901-5499
3          (853)681-1839x2010
4          364-575-8478x67812
                ...
2995    001-324-747-3549x4392
2996      (870)454-9481x49987
2997         001-847-873-3665
2998      (385)467-6434x67311
2999            (772)767-2580
Name: Phone Number, Length: 3000, dtype: object

I can see that there are a mix of phone number formates in the dataset. For now, I will prioritize usability (e.g. the HR might need to contact the employee so I will retain all information) so I won't be reformatting these numbers to avoid potential issues. However, I am also including here a commented code for cases when consistent formatting may be needed.

In [59]:
# import re

# def reformat_phone(number):
#     formatted = number.split("x",1)[0]
#     formatted = re.sub("[^0-9]","", formatted)
#     if len(formatted) == 10:
#         return f"{formatted[:3]}-{formatted[3:6]}-{formatted[6:]}"
#     else:
#         return formatted


# recruitment['Phone Number'] = pd.Series(recruitment['Phone Number']).apply(reformat_phone)
# print(recruitment['Phone Number'])

# Adding a Composite Key

I noticed that the recruitment dataset have no foreign key that will connect to the employee dataset. Hence, I will be adding a composite key for each dataset.

In [60]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,ReusedEmail
0,3427,Uriah,Bridges,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,1969-10-07,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4,False
1,3428,Paula,Small,2023-02-11,NaT,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,1965-08-30,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3,False
2,3429,Edward,Buck,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,1991-10-06,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4,False
3,3430,Michael,Riordan,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,1998-04-04,ND,Clerk,Male,58782,Other,Single,Fully Meets,2,False
4,3431,Jasmine,Onque,2019-06-29,NaT,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,1969-08-29,FL,Laborer,Female,33174,Other,Married,Fully Meets,3,False

In [61]:
recruitment.head()

,Applicant ID,Application Date,First Name,Last Name,Gender,Date of Birth,Phone Number,Email,Address,City,State,Zip Code,Country,Education Level,Years of Experience,Desired Salary,Job Title,Status
0,1001,2023-06-03,Scott,Sheppard,Male,1992-08-31,421-429-7655x39421,perezjanet@example.org,597 Smith Point,Hollandfort,NV,57588,Micronesia,High School,8,60103.21,Chief Technology Officer,Interviewing
1,1002,2023-05-15,Stanley,Lewis,Male,1965-04-29,+1-451-574-5308x1681,grossmark@example.com,8116 Stuart Loop,Port Margaretfurt,TN,14726,Greenland,Bachelor's Degree,17,64575.84,"Designer, furniture",Rejected
2,1003,2023-08-04,Javier,Li,Female,1973-03-10,(858)901-5499,katiemaldonado@example.com,5940 Barr Villages Suite 075,Dianaland,TX,4699,China,PhD,20,39422.71,"Sound technician, broadcasting/film/video",Rejected
3,1004,2023-07-28,Christopher,Johnston,Other,2001-04-04,(853)681-1839x2010,sheila73@example.com,442 Lewis Mount,Youngfurt,GA,34455,Ghana,High School,8,51045.11,Air cabin crew,Rejected
4,1005,2023-06-05,Melissa,Hicks,Other,1978-06-17,364-575-8478x67812,emilypatterson@example.org,95961 Taylor Circles Apt. 169,East Ashleyborough,IN,21014,Solomon Islands,Master's Degree,0,52792.86,Art therapist,Interviewing

In [62]:
employees['recruitment_mapping'] = (employees['LastName']) + '-' + (employees['FirstName']) + '-' + (employees['DOB']).astype(str)
recruitment['composite_key'] = (recruitment['Last Name']) + '-' + (recruitment['First Name']) + '-' + (recruitment['Date of Birth']).astype(str)

In [63]:
print(employees['recruitment_mapping'])

0           Bridges-Uriah-1969-10-07
1             Small-Paula-1965-08-30
2             Buck-Edward-1991-10-06
3         Riordan-Michael-1998-04-04
4           Onque-Jasmine-1969-08-29
                    ...
2995      Erickson-Jakobe-1998-06-23
2996    Strickland-Adyson-2001-06-10
2997      Wilkins-Annabel-1997-01-27
2998         Braun-Kendra-1954-05-28
2999           Kerr-Chace-1990-09-11
Name: recruitment_mapping, Length: 3000, dtype: object

In [64]:
print(recruitment['composite_key'])

0             Sheppard-Scott-1992-08-31
1              Lewis-Stanley-1965-04-29
2                  Li-Javier-1973-03-10
3       Johnston-Christopher-2001-04-04
4              Hicks-Melissa-1978-06-17
                     ...
2995          Butler-Melinda-1993-11-25
2996         Johnson-Latasha-1978-01-29
2997             Gill-Cheryl-2000-02-08
2998       Villegas-Danielle-1994-08-08
2999       Hernandez-Charles-1980-06-01
Name: composite_key, Length: 3000, dtype: object

In [65]:
employees['match'] = employees['recruitment_mapping'].isin(recruitment['composite_key'])

print(employees[employees['match']])

Empty DataFrame
Columns: [EmpID, FirstName, LastName, StartDate, ExitDate, Title, Supervisor, ADEmail, BusinessUnit, EmployeeStatus, EmployeeType, PayZone, EmployeeClassificationType, TerminationType, TerminationDescription, DepartmentType, Division, DOB, State, JobFunctionDescription, GenderCode, LocationCode, RaceDesc, MaritalDesc, Performance Score, Current Employee Rating, ReusedEmail, recruitment_mapping, match]
Index: []

Upon checking, it seems that the two dataset are actually independent of each other. There are no matching columns based on the composite key. I will just drop the recruitment databse since I am aiming to have relational databases in SQL.

# **Removing and Renaming the columns**

employees

In [66]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,ReusedEmail,recruitment_mapping,match
0,3427,Uriah,Bridges,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,1969-10-07,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4,False,Bridges-Uriah-1969-10-07,False
1,3428,Paula,Small,2023-02-11,NaT,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,1965-08-30,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3,False,Small-Paula-1965-08-30,False
2,3429,Edward,Buck,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,1991-10-06,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4,False,Buck-Edward-1991-10-06,False
3,3430,Michael,Riordan,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,1998-04-04,ND,Clerk,Male,58782,Other,Single,Fully Meets,2,False,Riordan-Michael-1998-04-04,False
4,3431,Jasmine,Onque,2019-06-29,NaT,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,1969-08-29,FL,Laborer,Female,33174,Other,Married,Fully Meets,3,False,Onque-Jasmine-1969-08-29,False

In [67]:
employees = employees.drop(columns=['recruitment_mapping','match'])

In [68]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,ReusedEmail
0,3427,Uriah,Bridges,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,1969-10-07,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4,False
1,3428,Paula,Small,2023-02-11,NaT,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,1965-08-30,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3,False
2,3429,Edward,Buck,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,1991-10-06,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4,False
3,3430,Michael,Riordan,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,1998-04-04,ND,Clerk,Male,58782,Other,Single,Fully Meets,2,False
4,3431,Jasmine,Onque,2019-06-29,NaT,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,1969-08-29,FL,Laborer,Female,33174,Other,Married,Fully Meets,3,False

In [69]:
employees.columns

Index(['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title',
       'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus',
       'EmployeeType', 'PayZone', 'EmployeeClassificationType',
       'TerminationType', 'TerminationDescription', 'DepartmentType',
       'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode',
       'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score',
       'Current Employee Rating', 'ReusedEmail'],
      dtype='object')

In [72]:
employees = pd.DataFrame(employees).rename(columns={'EmpID':'emp_id',
                                                    'FirstName':'first_name',
                                                    'LastName':'last_name',
                                                    'StartDate':'start_date',
                                                    'ExitDate':'exit_date',
                                                    'Title':'job_title',
                                                    'Supervisor':'supervisor',
                                                    'ADEmail':'email',
                                                    'BusinessUnit':'business_unit',
                                                    'EmployeeStatus':'employee_status',
                                                    'EmployeeType':'employee_type',
                                                    'PayZone': 'payzone',
                                                    'EmployeeClassificationType': 'employee_classification',
                                                    'TerminationType':'termination_type',
                                                    'TerminationDescription':'termination_description',
                                                    'DepartmentType':'department_type',
                                                    'Division':'division',
                                                    'DOB':'birthdate',
                                                    'State':'state',
                                                    'JobFunctionDescription':'job_function_desc',
                                                    'GenderCode':'gender_code',
                                                    'LocationCode':'location_code',
                                                    'RaceDesc':'race',
                                                    'MaritalDesc':'marital_status',
                                                    'Performance Score':'performance_score',
                                                    'Current Employee Rating':'current_employee_rating',
                                                    'ReusedEmail':'reused_email'})

# tnd

In [74]:
tnd.columns

Index(['emp_id', 'training_date', 'training_program', 'training_type',
       'training_outcome', 'location', 'trainer', 'training_duration',
       'training_cost'],
      dtype='object')

In [73]:
tnd = pd.DataFrame(tnd).rename(columns={
    'Employee ID': 'emp_id',
    'Training Date': 'training_date',
    'Training Program Name': 'training_program',
    'Training Type': 'training_type',
    'Training Outcome': 'training_outcome',
    'Location': 'location',
    'Trainer': 'trainer',
    'Training Duration(Days)': 'training_duration',
    'Training Cost': 'training_cost'})

**engagement**

In [75]:
engagement.columns

Index(['Employee ID', 'Survey Date', 'Engagement Score', 'Satisfaction Score',
       'Work-Life Balance Score'],
      dtype='object')

In [76]:
engagement = pd.DataFrame(engagement).rename(columns={
    'Employee ID': 'emp_id',
    'Survey Date': 'survey_date',
    'Engagement Score': 'engagement_score',
    'Satisfaction Score': 'satisfaction_score',
    'Work-Life Balance Score': 'worklifebalance_score'})

**Exporting**

In [77]:
employees.to_csv('cleaned_employees.csv',index=False)

In [78]:
tnd.to_csv('cleaned_tnd.csv',index=False)

In [79]:
engagement.to_csv('cleaned_engagement.csv',index=False)